{% block content %}
<div>
    <h2>Products</h2> 
  </div>
<body>
    <div class="card-group">
    <div class="card">
      <img src="https://rukminim2.flixcart.com/image/832/832/xif0q/computer/4/j/q/-original-imagru2p9jkhurzu.jpeg?q=70" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="{% url 'lenovo' %}">LENOVO LAPTOP</a>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://rukminim2.flixcart.com/image/832/832/kctf0cw0/computer/y/n/n/hp-na-gaming-laptop-original-imaftv6nyfyymt8z.jpeg?q=70" alt="...">
      <div class="card-body">
        <a href="{% url 'hp' %}">HP LAPTOP</a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://rukminim2.flixcart.com/image/832/832/xif0q/computer/o/7/1/-original-imagpxgrmuazgfce.jpeg?q=70" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="{% url 'asus' %}">ASUS LAPTOP</a>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  <div class="card">
    <img src="https://rukminim2.flixcart.com/image/832/832/l4x2rgw0/computer/m/n/n/vostro-3420-notebook-dell-original-imagfpq37h38xebf.jpeg?q=70" alt="Card image cap">
  <div class="card-body">
  <a href="{% url 'dell' %}">DELL LAPTOP</a>
  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body"https://rukminim2.flixcart.com/image/832/832/xif0q/computer/e/n/2/-original-imagn8sfgegphenv.jpeg?q=70>
    <a href="{% url 'msi' %}">MSI LAPTOP</a>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://rukminim2.flixcart.com/image/832/832/xif0q/computer/o/t/g/aspire-lite-thin-and-light-laptop-acer-original-imagrwjre3gfwygr.jpeg?q=70" class="card-img-top" alt="...">
  <div class="card-body">
  <a href="{% url 'acer' %}">ACER LAPTOP</a>
  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  </div>
  <div class="card-group">
  <div class="card">
  <img src="https://rukminim2.flixcart.com/image/832/832/xif0q/computer/x/j/f/-original-imagq56vhkxkcghh.jpeg?q=70" class="card-img-top" alt="...">
  <div class="card-body">
  <a href="{% url 'infinix' %}">INFINIX LAPTOP</a>
  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  </div>
  <div class="card">
  <img src="https://images.samsung.com/is/image/samsung/assets/in/explore/brand/5-best-android-mobile-phones-2022-in-india/banner-desktop-684x723-080422.jpg?$684_N_JPG$" class="card-img-top" alt="...">
  <div class="card-body">
  <a href="{% url 'samsung' %}">SAMSUNG MOBILES</a>
  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  </div>
  <div class="card">
  <img src="https://india.postsen.com/content/uploads/2023/06/16/c6af17ec73.jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <a href="{% url 'vivo' %}">VIVO MOBILES</a>
  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  </div>
  <div class="card">
  <img src="https://images.hindustantimes.com/tech/htmobile4/P36095/images/Design/144644-v2-xiaomi-redmi-note-8-2021-mobile-phone-large-3.jpg?impolicy=new-ht-20210112&width=500&height=500" class="card-img-top" alt="...">
  <div class="card-body">
  <a href="{% url 'redmi' %}">REDMI MOBILES</a>
  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  </div>
  <div class="card">
  <img src="https://assets.mspimages.in/gear/wp-content/uploads/2022/02/oppo-launched.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="{% url 'oppo' %}">OPPO MOBILES</a>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  </div>
  <div class="card">
  <img src="https://www.godigit.com/content/dam/godigit/directportal/en/contenthm/honor-x6s-mobile-phones.jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <a href="{% url 'honor' %}">HONOR MOBILES</a>
  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  </div>
  </div>
</body>
  {% endblock content %}